[
    ("*.h", MapTo("C++")),
    (".clang-format", MapTo("YAML")),
    ("*.fs", MapTo("F#")),
    ("build", MapToUnknown),
    ("**/.ssh/config", MapTo("SSH Config")),
    ("**/bat/config", MapTo("Bourne Again Shell (bash)")),
    ("/etc/profile", MapTo("Bourne Again Shell (bash)")),
    ("os-release", MapTo("Bourne Again Shell (bash)")),
    ("*.pac", MapTo("JavaScript (Babel)")),
    ("fish_history", MapTo("YAML")),
    ("*.jsonl", MapTo("JSON")),
    ("*.sarif", MapTo("JSON")),
    ("*.nse", MapTo("Lua")),
    ("rails", MapToUnknown),
    ("Containerfile", MapTo("Dockerfile")),
    ("*.ksh", MapTo("Bourne Again Shell (bash)")),
    ("*.conf", MapExtensionToUnknown),
    ("/etc/nginx/**/*.conf", MapTo("nginx")),
    ("/etc/nginx/sites-*/**/*", MapTo("nginx")),
    ("nginx.conf", MapTo("nginx")),
    ("mime.types", MapTo("nginx")),
    ("/etc/apache2/**/*.conf", MapTo("Apache Conf")),
    ("/etc/apache2/sites-*/**/*", MapTo("Apache Conf")),
    ("httpd.conf", MapTo("Apache Conf")),
    ("**/systemd/**/*.conf", MapTo("INI")),
    ("**/systemd/**/*.example", MapTo("INI")),
    ("*.automount", MapTo("INI")),
    ("*.device", MapTo("INI")),
    ("*.dnssd", MapTo("INI")),
    ("*.link", MapTo("INI")),
    ("*.mount", MapTo("INI")),
    ("*.netdev", MapTo("INI")),
    ("*.network", MapTo("INI")),
    ("*.nspawn", MapTo("INI")),
    ("*.path", MapTo("INI")),
    ("*.service", MapTo("INI")),
    ("*.scope", MapTo("INI")),
    ("*.slice", MapTo("INI")),
    ("*.socket", MapTo("INI")),
    ("*.swap", MapTo("INI")),
    ("*.target", MapTo("INI")),
    ("*.timer", MapTo("INI")),
    ("/var/spool/mail/*", MapTo("Email")),
    ("/var/mail/*", MapTo("Email")),
    ("*.hook", MapTo("INI")),
    ("*.ron", MapTo("Rust")),
    ("**/.config/git/config", MapTo("Git Config")),
    ("**/.config/git/ignore", MapTo("Git Ignore")),
    ("**/.config/git/attributes", MapTo("Git Attributes")),
    ("**/.git/config", MapTo("Git Config")),
    ("**/.git/ignore", MapTo("Git Ignore")),
    ("**/.git/attributes", MapTo("Git Attributes")),
]
